<div>Test Rich Text</div>

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'heading' %}
      <div>{{ block.settings.heading }}</div>
    {% when 'text' %}
      <div>{{ block.settings.text }}</div>
    {% when 'button' %}
      <div><button>{{ block.settings.button_label }}</button></div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Test Rich Text",
  "tag": "section",
  "class": "rich-text",
  "settings": [
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center",
      "label": "Heading position",
      "info": "Change heading posistion"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>This is heading</p>",
          "label": "Heading settings"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>This is paragraph</p>",
          "label": "Text label"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button Label",
          "label": "Button Label",
          "info": "Change button label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Richtext Presets",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}