<div>Test Image Banner</div>

{% schema %}
{
  "name": "Image Banner",
  "tag": "section",
  "class": "image-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Label"
    }
  ],
  "presets": [
    {
      "name": "Image"
    }
  ]
}
{% endschema %}